body {
  background-color: #ededed;
  margin: 0 5%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545454;
}

.wrapper {
  text-align: center;
  background-color: #fff;
  max-width: 1024px;
  margin:auto;
}

.wrapper video {
  margin-top: 20px;
}

video {
  max-width: 100%;
}

.video-container {
  position: relative;
}

#video-controls {
  position: relative;
  width: 99.87%;
  max-width: 1280px;
  bottom: 65px;
  margin: auto;
}
/* Media controls */





.lower-controls {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}

.control-hide {
  display: none;
}

.video-container:hover .lower-controls {
  display: relative;
}

.control-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.control-right {
  display: flex;
  justify-content: flex-end;
}
.code-time {
  display:
}

/* Control styles */

button {
  border: none;
  background: transparent;
}


#player_time,
#duration-time {
  color: #fff;
}



p {
  padding: 5px;
}

.highlight {
  color: orange;
}
